body {
    font-family: sans-serif;
    background: #999 url(/ui/b10.png);
    margin-top: 75px;
    color:#ffffff;
}

.center {
    text-align: center;
}

.corner {
    margin: 0;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
} 

#div:hover{opacity:0.5;}
